<h1>Welcome back <%=@user.username.capitalize%>!</h1>
<h4>Workout History</h4>

<% @workouts.each do |workout| %>
<strong>Name:</strong> <%= workout.name %><br>
<strong>Weight:</strong> <%= workout.weight %><br>
<strong>Sets:</strong> <%= workout.sets %><br>
<strong>Reps:</strong> <%= workout.reps %>
<br>
<button type="button" id="edit_button"'><a href="/workouts/<%= workout.id %>/edit">edit</a></button>
<form method="post" action="/workouts/<%= workout.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form><br>
<%end%>
