<h1>Welcome back <%=@user.username.upcase%>!</h1>
<h2>Workout History</h2>
<h2><a href='/workouts/new'>Add</a></h2>


<% @workouts.each do |workout| %>
<p>Name: <%= workout.name %></p>
<p>Weight: <%= workout.weight %></p>
<p>Sets: <%= workout.sets %></p>
<p>Reps: <%= workout.reps %></p>
<form method="post" action="/workouts/<%= workout.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<p><a href="/workouts/<%= workout.id %>/edit">edit</a></p>
<%end%>
